<ul class="statistic">
  <li class="statistic__item">
    <span class="statistic__view-icon statistic__item-icon"></span>
    <span class="statistic__view-count statistic__item-text">{{statData.viewCount}}</span>
  </li>
  <li class="statistic__item">
    <span class="statistic__like-icon statistic__item-icon"></span>
    <span class="statistic__like-count statistic__item-text">{{statData.likeCount}}</span>
  </li>
  <li class="statistic__item">
    <span class="statistic__dislike-icon statistic__item-icon"></span>
    <span class="statistic__dislike-count statistic__item-text">{{statData.dislikeCount}}</span>
  </li>
  <li class="statistic__item">
    <span class="statistic__comments-icon statistic__item-icon"></span>
    <span class="statistic__comments-count statistic__item-text">{{statData.commentCount}}</span>
  </li>
</ul>