<div class="settings">
  <div class="wrapper">
    <div class="settings__content">
      <p class="settings__title">Sorting by:</p>
      <ul class="settings__list">
        <li class="settings__item" (click)="sortByDate()">Date</li>
        <li class="settings__item" (click)="sortByView()">count of views</li>
        <li class="settings__item">by word or sentance</li>
      </ul>
      <input
        #search
        type="text" 
        class="settings__field" 
        (input)="sortByWord(search.value)"
      >
    </div>
  </div>
</div>