<form class="form-login">
  <h2 class="form-login__title">Login</h2>
  <div>
    <label class="form-login__label">login</label>
    <input
      class="form-login__login form-login__input"
      type="text" 
      id="login"
      required 
      name="login"
      [(ngModel)]="loginForm.login" />
  </div>
  <div>
    <label class="form-login__label">password</label>
    <input
      class="form-login__passwd form-login__input"
      type="password"
      required
      name="password"
      [(ngModel)]="loginForm.password" />
  </div>

  <button mat-raised-button class="form-login__submit">Login</button>
</form>