<section class="card">
  <div class="card__content">
    <img src="" alt="" class="card__caption">
    <ul class="card__statistic">
      <li class="card__item">
        <span class="card__view-icon card__item-icon"></span>
        <span class="card__view-count card__item-text">1000</span>
      </li>
      <li class="card__item">
        <span class="card__like-icon card__item-icon"></span>
        <span class="card__like-count card__item-text">680</span>
      </li>
      <li class="card__item">
        <span class="card__dislike-icon card__item-icon"></span>
        <span class="card__dislike-count card__item-text">320</span>
      </li>
      <li class="card__item">
        <span class="card__comments-icon card__item-icon"></span>
        <span class="card__comments-count card__item-text">250</span>
      </li>
    </ul>
    <h3 class="card__title">Kuji Podcast #</h3>
    <button mat-raised-button class="card__submit">more...</button>
  </div>
  <div class="card__label">
  </div>
</section>
