$button-text: #FFFFFF;
$input-text: #929292;
$dark-text: #000000;
$gray-text: #4F4F4F;
$light-gray-text: #828282;
$login-cover: #E0E0E0;
$header-cover: #E5E5E5;
$card-cover: #C4C4C4;
$field-cover: #EFEFEF;
$primary-blue: #2F80ED;
$primary-blue-hover: #5EA2FF;
$primary-green: #27AE60;
$primary-red: #EB5757;
$primary-yellow: #F2C94C;


