<main class="main">
  <div class="wrapper">
    <div class="detail">
      <button class="detail__back" (click)="goBack()"><img src="./assets/images/back_button.png" alt="back" class="detail__back-img"></button>
      <div class="detail__content">
        <div class="detail__video"></div>
        <section class="detail__info">
          <div class="detail__header">
            <h3 class="detail__title">Podcast</h3>
            <span class="detail__date">Thursday, May 20, 2019</span>
          </div>
          <h4 class="detail__desc-title">Description:</h4>
          <p class="detail__desc">Это KuJi Podcast. В этом выпуске Тимур Каргинов, Андрей Коняев и Нурланом Сабуровым обсуждают окончание 2018 года: бой Хабиба с МакГрегором, Кокорина и Мамаева, шоу Урганта на Первом канале, экономический кризис и подарки для близких.</p>
          <div class="detail__statistics">
            <app-statistic></app-statistic>
          </div>
          <div appMarked class="detail__label">
          </div>
        </section>
      </div>
    </div>
  </div>
</main>